@{
}


@model List<supernaturalsightings_olivia.Models.Review>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Review Title</th>
            <th>Review Comment</th>
            <th>Add Comment</th>
        </tr>
    </thead>

    <tbody>
        @if (Model is not null)
        {
            @foreach (Review review in Model)
            {
                <tr>
                    <td>
                        @review.DisplayName
                    </td>
                    <td>
                        @review.ReviewTitle
                    </td>
                    <td>
                        @review.ReviewComment
                    </td>
                    <td>
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample-@review.ReviewId" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Add Comment
                        </a>
                    </td>
                </tr>
                <tr class="collapse" id="collapseExample-@review.ReviewId">
                    <td colspan="4">
                        <form asp-controller="Review" asp-action="ProcessAddReviewForm" method="post">
                            <input type="hidden" asp-for="@review.ReviewId" value="ReviewId" />

                            <div class="form-group">
                                <label asp-for="@review.DisplayName">Username</label>
                                <input asp-for="@review.DisplayName" class="form-control" />
                                <span asp-validation-for="@review.DisplayName"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@review.ReviewComment">Comment</label>
                                <input asp-for="@review.ReviewComment" class="form-control" />
                                <span asp-validation-for="@review.ReviewComment"></span>
                                
                                <p class="text-muted mb-1">@ViewBag.review.ReviewComment</p>
                            </div>

                            <input type="submit" value="Add Comment" method="get" />
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
